<!DOCTYPE html>
<html class="wf-omnespro-n2-active wf-omnespro-n3-active wf-proximanova-n1-active wf-proximanova-n4-active wf-proximanova-n7-active wf-active" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Create Your Trippy</title>

<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<link href=" {{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
<script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>


<link rel="stylesheet" href="{{ url_for('static',filename='pure-min.css')}}">



<script src="{{url_for('static',filename='map.js') }}"></script>
<script src="{{url_for('static',filename='infobox.js')}}"></script>

<link rel="stylesheet" href="{{url_for('static',filename='1.css')}}">

<script src="{{url_for('static',filename='donuts.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static',filename='donuts.css')}}">


<script src="{{url_for('static',filename='analytics.js')}}" async=""></script><script src="{{url_for('static',filename='ajf8ggy.js')}}"></script>
<style type="text/css">.demo-unit,.tk-proxima-nova,body,h2,h3{font-family:"proxima-nova",sans-serif;}.header h1,.hero h1,.hero h2,.tk-omnes-pro{font-family:"omnes-pro",sans-serif;}</style><link href="{{url_for('static',filename='d.html')}}" rel="stylesheet"><script>
try { Typekit.load(); } catch (e) {}
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
    url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41480445-1', 'purecss.io');
    ga('send', 'pageview');
</script>




</head>
<body onload="initialize()" style="padding-top: 0px;  text-decoration:none !important height: 100%; background-color: white !important;">

    

    <div class="pure-g-r " id="layout">
        <a href="#menu" id="menuLink" class="pure-menu-link">
            <img src="{{ url_for ('static',filename='navicon-png2x.png') }}" alt="Menu toggle" width="20">
        </a>

        <!-- Sidebar -->


        <div class="pure-u" id="menu" style="
        background-color: black;">
        <div class="pure-menu pure-menu-open" style="font-weight: 500;font-size: 20px;">
            <a  href="{{ url_for ('timeline') }}">TRIPPY</a>


            <ul>
              
                <li class="add-itenary slideout">
                    <a >New Trippy</a>
                </li>

                

                <li class="left-pane-timeline">
                    <a href="{{ url_for ('timeline') }}">Trippy Feed</a>
                </li>
            </ul>
            <ul>
                <a href ='#' style="margin-top:20px;"> Your Itenary</a>
            </ul>
        </div>
        <div class="pure-menu pure-menu-open" id = "left-pane-cities">
            
        </div>
    </div>


    <div class="pure-u" id="main">

        



       <div class="header pure-u-1" style=" background-color: white">
        <div class="navbar navbar-inverse " >

            <!-- <div class="navbar"> -->
            <div class="navbar-inner" >
                <div class="container" style="width:auto;">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">



<!--               <div class="navbar-inner" style="width: 1140px;">
                <div class="container">
                  <a data-target=".navbar-inverse-collapse" data-toggle="collapse" class="btn btn-navbar ">
                  -->                    <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </a>
              
              <div class="nav-collapse collapse ">
                <form action="" class="navbar-search pull-left">
                    <input type="text" placeholder="Search" class="search-query span2 place-search" id = "target">

                    
                </form>
                <a id="iter-nav-hidden2" href="{{ url_for('add_message') }}" class=" btn btn-success button-publish" >Publish Your Trippy </a>
                
                <!-- <ul class="nav pull-right"> -->
                
                
                <!-- <li class="nav pull-right"> -->
                <a id="logout-btn" class="btn" href="logout">Logout </a>
                
                <!-- </li> -->
                <!-- </ul> -->
            </div>
        </div>
    </div>
    
    
</div>
<div>
    <div class = "add-itenary-pane slideout_inner" >
        <div class="pure-g-r" class = "stats">
            <span>
                <div class="pure-u-1-2 distance-cities">
                    <i class="icon-road" style = " color: #fff !important;"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - 

                </div>
            </span>
            <span>
                <div class="pure-u-1-2 time-cities">
                    <i class="icon-time" style = " color: #fff !important;" ></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -
                </span>
                
            </div>
        </div>
        
        <hr >
        <div class="pure-g-r" id="city-name">
            <div class="pure-u-1 itenary-pane">

                <form class="pure-form pure-form-stacked">
                    <fieldset>
                        <input class="city" type="text" placeholder="Enter City Name" id = "city-name-input0" style="height:30px;">
                    </fieldset>
                </form>
            </div>
        </div>
        
        <div>
        </div>
        
        <div class="pure-g-r">
            <div class = "pure-u-1-3">
                <button id="add" ><i class = "icon-plus" id="add" alt="Add" width="20" height="20" > </i></button>
                <button id="del"><i class = "icon-minus" id="del" alt="Add" width="20" height="20"/></i></button>
            </div>
            <div class = "pure-u-1-3">

            </div>
            <div class = "pure-u-1-3">
                <button onclick= "add_itenary()" class="pure-button pure-button-primary">Done</button>
            </div>

        </div>

    </div>

    <div class = "justdial-search-pane slideout_inner" >
        <h4 class = "justdial-heading" style  = "color :white;">
            You can add important contacts that you may require using JustDial.
        </h4>

        
        <input class="search" type="text" placeholder="Enter Search Terms for Justdial" id = "justdial-name-input0" style="height:30px;"> 
        
        <button type = "submit" onclick = 'search_justdial()' class="pure-button pure-button-primary">Search</button> 
        
        

        <div >
        </br>
    </div>
    <div >
    </br>
</div>



<div id='justdial-result_name' style = "color :white;">
</div>
<div id='justdial-result_phno' style = "color :white;">
</div>
<div id='justdial-result_rating' style = "color :white;">
</div>

<div id='justdial-add-button'>
    <button style = "float:right;" type = "submit" onclick = 'add_justdial_info()' id="just-dial-btn" class="pure-button pure-button-primary just-dial-hide">Add to itenary</button> 
</div>


</div>

</div>
<script type=text/javascript>
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<div class="pure-g" id="myMap" style="
margin-top: 30px;height:700px;">
<!-- <div class="pure-g" id = "myMap"> -->
<div id="mapCanvas">
</div>
</div>

</div>


<div class="content" id="content">


  
</div>


</div>
</div>

<script src="{{url_for('static',filename='1.10')}}"></script>
</body></html>
