
{% extends "layout.html" %}
{%block navbar%} {{ super() }} {%endblock%}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tl.css')}}"  type="text/css" media="screen">

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places"></script>

<script type=text/javascript>
    var elements = new Array(100);
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var map = null;
</script>
<script>

    function calcRoute(places)
    {
        var i, j;
        var start, done = 0;
        var optimal_response = null;
        var jmin = -1;
        var places_copy;
        var len = places.length;

        if(len > 9)
          len = 9;

    // Currently, max_results can be max 10. This is limitation of google directions api.
    //for(j=0; j<len; j++)
    j = 0;
    {

      start = places[j];
      var waypts = [];
      places_copy = [];
      for(var k=0; k < len; k++)
      {
        if(k==j)
          continue;
      waypts.push({location: places[k].geometry.location, stopover:true});
      places_copy.push(k);
  }

  var request;

  if(len === 2)
  {
    request = {
      origin: start.geometry.location,
      destination: places[1].geometry.location,
      optimizeWaypoints: true,
      travelMode: google.maps.TravelMode.DRIVING
  };

}
else
{
    request = {
      origin: start.geometry.location,
      destination: start.geometry.location,
      waypoints: waypts,
      optimizeWaypoints: true,
      travelMode: google.maps.TravelMode.DRIVING
  };
}

directionsService.route(request, function(response, status) 
{

    if (status == google.maps.DirectionsStatus.OK) 
    {
       var dist = 0;
       var time = 0;
       for(i=0; i<response.routes[0].legs.length; i++)
       {
        dist += response.routes[0].legs[i].distance.value;
        time += response.routes[0].legs[i].duration.value;
    }

    done += 1;

    if(!optimal_response || optimal_response===null || optimal_dist===0 || dist < optimal_dist)
    {
        optimal_dist = dist;
        optimal_time = time;
        optimal_response = response;
        jmin = j; 
    }
}
if(done===1)
{
  var len = optimal_response.routes[0].legs.length;
  dist -= optimal_response.routes[0].legs[len-1].distance.value
  time -= optimal_response.routes[0].legs[len-1].duration.value
  optimal_response.routes[0].legs.splice(len-1, len-1);

  directionsDisplay.setDirections(optimal_response);
  directionsDisplay.setOptions( { suppressMarkers: true } );

  var indx;


  if(optimal_response.routes[0].waypoint_order.length != 0)
  {
    itenary_markers[jmin].setIcon(get_icon(0));
    for(i=0; i<optimal_response.routes[0].legs.length; i++)
    {

      indx = optimal_response.routes[0].waypoint_order[i];
      itenary_markers[places_copy[indx]].setIcon(get_icon(i+1));
  }
}
else
{
    itenary_markers[0].setIcon(get_icon(0)); 
    itenary_markers[1].setIcon(get_icon(1));
}
}
});
}
}

function initialize(element)
{

    console.log("In function initialize");
    console.log(element);    
    var mapOptions = {  
        center: new google.maps.LatLng(element['result']['1'][2], element['result']['1'][3]),
        zoom: 6,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("mapCanvas"), mapOptions);
    var infowindow = new google.maps.InfoWindow();
    console.log("MAPS");
    console.log(element['result']);

    var myLatlng;
    for(var i=0; i < element['result'].length; i++)
    {
        myLatlng = new google.maps.LatLng(element['result'][i.toString()][2], element['result'][i.toString()][3])
        var marker = new google.maps.Marker({
            position: myLatlng,
            map:map
        });
            // marker.setMap(map);
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                  infowindow.setContent(element['result'][i.toString()][4]);
                  infowindow.open(map, marker);
              }
          })(marker, i));
        }
        
    }

    function EnableButton()
    {
        var x = document.getElementById("SubmitButton");
        if(document.getElementById("text").value!="")
        {
            x.setAttribute("class","btn btn-success btn-large");
            x.removeAttribute("disabled");
        }
        else
        {
            x.setAttribute("class","btn btn-success btn-large disabled");
            x.setAttribute("disabled","disabled");

        };
    }
    function ShowModal(id)
    {
        console.log("In show modal");
    // console.log(elems);
    {% for m in messages %}
    var idS = id.toString();
    if (idS === '{{m.message_id}}')
    {
        console.log("elements[id-1]");
        console.log(elements[id-1]);
        element = JSON.parse(elements[id-1].responseText);
        console.log(element);
        document.getElementById("myModalLabel").innerHTML = '{{m.mess_name}}';
        if(element.result.length !== 0 )
        {
            initialize(element);
        }


        $('#myModal').modal();
        if(element.result.length === 0)
        {
            document.getElementById("BelowText").innerHTML = "This has no map attached to it";


        }
        $('#myModal').on('shown', function () {
            console.log("Is this printing?");
            // if(element.result.length !== 0)
            // {
// map.checkResize();
lastCenter=map.getCenter(); 
google.maps.event.trigger(map, "resize");
map.setCenter(lastCenter);  
            // };
        });


    };
    {% endfor %}

}

</script>





<form action="{{ url_for('go_to_map') }}" method=post class="form-inline" style="margin-top: 30px;">

    <div class="input-append" style="margin-left: 30%;margin-top: 40px">

      <input class="span5" id=text name=text type="text" style="height:34px;" placeholder="Enter the name of the journey here" onkeyup="EnableButton();" value="">
      <button id="SubmitButton" type="submit" class="btn btn-success btn-large disabled" disabled="disabled" ><i class="icon-white icon-plus-sign"></i>  New journey</button>

  </div>

  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"></h3>
    </div>
    <div class="modal-body">
        <div id="mapCanvas" style="width: 500px; height: 400px"></div>
    </div>
    <div id="BelowText">
        <h4>&nbsp; &nbsp;Review</h4>
        &nbsp; &nbsp;&nbsp;The trip was amazing. We had a really wonderful time.

    </div>
    
</div>


</form>


<div id="blog">
    <div class="container">
        <div class="section_header">
            <h3>Trippy Feed</h3>

        </div>

        {%for message in messages%}
        <!-- Post -->
        {% if message.message_id % 3 == 1%}
        


        <div class="row post_row">
            {%endif%}
            {% if message.message_id % 3 == 0 %}
            <div class="span4 post last">
                {% else %}
                <div class="span4 post">
                    {% endif %}


                    <a href="{{ url_for('upvote', message_id=message.message_id) }}"><i class=" icon-thumbs-up icon-large pull-right icon-border"> &nbsp; {{message.votes}}</i></a>
                    <!-- Used to store some data from python to javascript -->

                    <!---->

                    <!-- div which stores cities name populated by JS -->
                    <!-- <div class="text"> -->

                    <div class="text">
                      <input type = "hidden" id = "msg_id_hidden{{message.message_id}}" value = "{{message.message_id}}">
                      <input type = "hidden" id = "cities_string{{message.message_id}}" value = "{{message.cities_string}}">
                      <input type = "hidden" id = "cities_string{{message.message_id}}" value = "{{message.cities_string}}">

                     
                      <h5><a onclick="ShowModal('{{message.message_id}}');" style="cursor:pointer;">{{message.mess_name}}  </a></h5>
                    <span class="date">{{message.pub_date}}</span>

                    <div id = "cities{{message.message_id}}" > 
                      </div>


                      <script >

                        msg_id = document.getElementById("msg_id_hidden{{message.message_id}}").value;
                        msg_id = parseInt(msg_id);
                        console.log(msg_id);
                        console.log("In somay's function ");

                        element= $.getJSON($SCRIPT_ROOT + '/itinerary', {
                          message_id: msg_id
                      });
                        elements[msg_id-1]=element;
                        console.log(elements[msg_id-1]);

                        console.log("cities_string");
                        cities_string = document.getElementById("cities_string{{message.message_id}}").value;
                        cities = cities_string.split(",");

                        str = "";
                        for(var i=0; i<cities.length; i++)
                        {
                            str += "<span>" + cities[i] + "</br></span>";
                        }

                        document.getElementById("cities{{message.message_id}}").innerHTML= str;
                    </script>                    
                     
<!--                     <a href="{{ url_for('upvote', message_id=message.message_id) }}"><i class=" icon-thumbs-up icon-large pull-right icon-border"> &nbsp; {{message.votes}}</i></a>

 -->

        
                    

                </div>

                <div class="author_box">
                    <h6>{{ message.username}}</h6>
                    <p><img src="{{ message.email|gravatar(size=24) }}"></p>
                </div>

            </div>
            {% if message.message_id % 3 == 0%}
        </div>
        {%endif%}

        {%endfor%}

    </div>
</div>
</div>
{%endblock%}
