{% extends "layout.html" %}
{%block navbar%} {{ super() }} {%endblock%}
{% block content %}


<form action="{{ url_for('add_message') }}" method=post class="form-inline" style="margin-top: 30px;">

    <div class="input-append" style="margin-left: 30%;margin-top: 40px">

  <input class="span5" id=text name=text type="text" style="height:34px;" placeholder="Enter the name of the journey here">
 <button type="submit" class="btn btn-success btn-large"><i class="icon-white icon-plus-sign"></i>  New journey</button>
</div>
  {# <p><input type= name=text size=60 id=text> #}

  </form>


  <div id="blog">
    <div class="container">
        <div class="section_header">
            <h3>Trip Feed</h3>

        </div>

        {%for message in messages%}
        <!-- Post -->
        {% if message.message_id % 3 == 1%}
        <div class="row post_row">
            {%endif%}
            {% if message.message_id % 3 == 0 %}
            <div class="span4 post last">
                {% else %}
                <div class="span4 post">
                    {% endif %}



                    <a href="{{ url_for('upvote', message_id=message.message_id) }}"><i class=" icon-thumbs-up icon-large pull-right icon-border"> &nbsp; {{message.votes}}</i></a>
                    <div class="text">
                        <h5><a href="http://cleancanvas.herokuapp.com/blogpost.html">{{message.mess_name}} </a></h5>
                        <span class="date">{{message.pub_date}}</span>
                    </div>

                    <div class="author_box">
                        <h6>{{ message.username}}</h6>
                        <p><img src="{{ message.email|gravatar(size=24) }}"></p>
                    </div>

                </div>
                {% if message.message_id % 3 == 0%}
            </div>
            {%endif%}

            {%endfor%}

        </div>
    </div>
</div>
{%endblock%}
